ol{
   margin-left: -40px;
   margin-top: 20px;
    list-style-position: inside;
}
p{
    color: red;
}

li[value="2"]{
    color: green;

}
.note{
    font-size: 20px;
}

#id-selector-demo{
    color: blue;
}

li[value="4"]{
    color: purple;
}

li[value ="5"]{
    color: pink;
}

*{
   text-align: center
    
}

*{
    font-weight: normal;
}